#center-content{
    border: 1px solid black;
     text-align:center;
}
#center-content img {
    width: 50%; 
    height: 25%;
    
}
#trailerButton {
    text-decoration: none;
     color: black;

}

#movie-content img {
     width: 25%;
     vertical-align:middle;
}
#search_movie{
    border: 1px solid black;
}
#search_movie img {
    vertical-align:middle;
    width: 25%;
}
#top_movies {
    text-align:center;
}

#moviePageGenerator {
    text-decoration: none;
     color: black;
}

#info {
    display: inline-block;
}